---
layout: base
title: Install
permalink: '/developers/'
order: 1
---

<h1>{{title}}</h1>

<p>Sa11y is a framework-agnostic JavaScript plugin. It's made with vanilla JavaScript and CSS, and its only dependency is <a href="https://github.com/atomiks/tippyjs">Tippy.js</a> - a highly customizable tooltip library that features a positioning system.<p>

<p>To install on your website, insert Sa11y right before the closing <code>&lt;/body&gt;</code> tag. Include both Tippy.js and Popper.js before Sa11y. Sa11y consists of four files:<p>

<ul>
    <li><strong>sa11y.css</strong> - The main stylesheet. Should be included in the <code>&lt;head&gt;</code> of the document (if possible).</li>
     <li><strong>lang/en.js</strong> - All text strings and tooltip messages. View <a href="#languages">supported languages.</a></li>
    <li><span class="badge bg-secondary">Optional</span> <strong>sa11y-custom-checks.js</strong> - Any custom checks creataed by you.</li>
    <li><strong>sa11y.js</strong> - Contains all logic.</li>
</ul>

<h2>Install via GitHub or npm</h2>
<p>Fork on <a href="https://github.com/ryersondmp/sa11y">GitHub</a> or <code>npm i sa11y</code></p>

<h2>Demo and local development</h2>
<p>A light server for development is included. Any change inside <code>/src</code> folder files will trigger the build process for the files and will reload the page with the new changes. To use this environment:</p>

<ol>
    <li>Fork or download the <a href="https://github.com/ryersondmp/sa11y/releases">latest release</a></li>
    <li>Be sure you have node installed and up to date.</li>
    <li>Execute <code>npm install</code></li>
    <li>In a terminal execute: <code>npm run serve</code>. Then open <code>http://localhost:8080/docs/demo/en/</code> in your browser.</li>
</ol>

<p><a href="https://ryersondmp.github.io/sa11y/demo/" class="btn btn-sa11y">View demo</a></p>

<h2>Example installation (modules)</h2>

<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;sa11y.css&#x22;/&#x3E;

&#x3C;script type="module"&#x3E;
  import { Sa11y, Lang } from '../assets/js/sa11y.esm.js';
  import Sa11yLangEn from '../assets/js/lang/en.js';

  // Optional: Custom checks
  import CustomChecks from '../assets/js/sa11y-custom-checks.esm.js';

  // Set translations
  Lang.addI18n(Sa11yLangEn.strings);

  // Instantiate
  const sa11y = new Sa11y({
    customChecks: new CustomChecks, // Optional
    checkRoot: "body",
  });
&#x3C;/script&#x3E;</code></pre>

<h2>Example installation (regular script)</h2>
<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;sa11y.css&#x22;/&#x3E;

&#x3C;!-- Sa11y (fork the latest code from GitHub) --&#x3E;
&#x3C;script src=&#x22;/dist/js/sa11y.umd.min.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;/dist/js/lang/en.umd.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Optional: Custom checks --&#x3E;
&#x3C;script src=&#x22;/dist/js/sa11y-custom-checks.umd.min.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Instantiate--&#x3E;
&#x3C;script&#x3E;
  Sa11y.Lang.addI18n(Sa11yLangEn.strings);
  const sa11y = new Sa11y.Sa11y({
    customChecks: new CustomChecks, // Optional
    checkRoot: "body",
  });
&#x3C;/script&#x3E;</code></pre>

<h2>Example installation (TypeScript)</h2>
<pre><code class="language-html">import { Sa11y, Lang, LangEn } from "sa11y";
import CustomChecks from "./your-custom-checks";
import "sa11y/dist/css/sa11y.css";

Lang.addI18n(LangEn.strings);
const sa11y = new Sa11y({
  customChecks: new CustomChecks, // Optional
  checkRoot: "body",
  readabilityRoot: "main",
});

/* **************************** */

// src/your-custom-checks.ts
import { Sa11yCustomChecks } from "sa11y";

export default class CustomChecks extends Sa11yCustomChecks {
  check() {
    /**
     * Add custom checks here. For more details, see:
     * - ./src/js/sa11y-custom-checks.js
     * - https://sa11y.netlify.app/developers/custom-checks/
     */
  }
}</code></pre>

<h2>CDN via jsDelivr</h2>
<p>The CDN link below is the latest and greatest (stable) release of Sa11y. Current version: <code>@{{site.sa11yBuild}}</code></p>

<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://cdn.jsdelivr.net/gh/ryersondmp/sa11y@{{site.sa11yBuild}}/dist/css/sa11y.min.css&#x22;/&#x3E;

&#x3C;!-- Script --&#x3E;
&#x3C;script src=&#x22;https://cdn.jsdelivr.net/combine/gh/ryersondmp/sa11y@{{site.sa11yBuild}}/dist/js/lang/en.umd.js,gh/ryersondmp/sa11y@{{site.sa11yBuild}}/dist/js/sa11y.umd.min.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Instantiate--&#x3E;
&#x3C;script&#x3E;
  Sa11y.Lang.addI18n(Sa11yLangEn.strings);
  const sa11y = new Sa11y.Sa11y({
    customChecks: new CustomChecks, // Optional
    checkRoot: "body",
  });
&#x3C;/script&#x3E;</code></pre>

<h3>CDN with automatic updates</h3>
<p>The CDN link below automatically fetches the <code>@latest</code> stable release. This is essentially how the bookmarklet is served.</p>
<p class="alert alert-danger"><strong>Warning:</strong> This is not recommended for production... or you know, use at your own risk. 😬</p>

<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://cdn.jsdelivr.net/gh/ryersondmp/sa11y@latest/dist/css/sa11y.min.css&#x22;/&#x3E;

&#x3C;!-- Script --&#x3E;
&#x3C;script src=&#x22;https://cdn.jsdelivr.net/combine/gh/ryersondmp/sa11y@latest/dist/js/lang/en.umd.js,gh/ryersondmp/sa11y@latest/dist/js/sa11y.umd.min.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Instantiate--&#x3E;
&#x3C;script&#x3E;
  Sa11y.Lang.addI18n(Sa11yLangEn.strings);
  const sa11y = new Sa11y.Sa11y({
    customChecks: new CustomChecks, // Optional
    checkRoot: "body",
  });
&#x3C;/script&#x3E;</code></pre>

<hr class="mt-5" aria-hidden="true">

<h2 id="languages">Languages</h2>
<p>Sa11y has been translated into: French (fr-ca), Polish (pl), Ukrainian (ua), and Swedish (sv). You can view the <a href="https://github.com/ryersondmp/sa11y/tree/master/src/languages">translations on GitHub.</a></p>

<p>Want to help translate or improve Sa11y? Consider <a href="https://github.com/ryersondmp/sa11y/blob/master/CONTRIBUTING.md">contributing!</a> Translations may either be contributed back to the repository with a pull request on GitHub, or translated files can be returned to: <a href="mailto:adam.chaboryk@ryerson.ca">adam.chaboryk@ryerson.ca</a></p>

<h3>CDN</h3>
<p>To utilize CDN links above, simply replace <code>lang/en.umd.js</code> with preferred language code.

<h3>Readability</h3>
<p>Sa11y's readability feature is based on <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests#Flesch_reading_ease">Flesch reading-ease test (Wikipedia)</a> and <a href="https://en.wikipedia.org/wiki/Lix_(readability_test)">Lix (Wikipedia).</a> The Flesch reading-ease formula has been adapted to also support Dutch, Italian, French, German, and Spanish. Lix formula supports Danish, Finnish, Norwegian (Bokmål & Nynorsk), and Swedish.</p>

<hr class="mt-5" aria-hidden="true">

<h2>Accessibility note about Tippy.js</h2>
<p>Sa11y appends tooltips to the end of the body by default to ensure tooltips do not get hidden by conflicting CSS styling. If you customize the tooltips to include interactive content, please read <a href="https://atomiks.github.io/tippyjs/v6/accessibility/#interactivity">Tippy.js documentation on creating accessible interactive tooltips for keyboard users.</a></p>

{% include "partials/pagination-developers.njk" %}
{% include "partials/prism.njk" %}