---
layout: base
title: Install
permalink: '/developers/'
order: 1
---

<h1>{{title}}</h1>

<p>Sa11y is a framework-agnostic JavaScript plugin. It's made with vanilla JavaScript and CSS, and its only dependency is <a href="https://github.com/atomiks/tippyjs">Tippy.js</a> - a highly customizable tooltip library that features a positioning system.<p>

<p>To install on your website, insert Sa11y right before the closing <code>&lt;/body&gt;</code> tag. Include both Tippy.js and Popper.js before Sa11y. Sa11y consists of four files:<p>

<ul>
    <li><strong>sa11y.css</strong> - The main stylesheet. Should be included in the <code>&lt;head&gt;</code> of the document (if possible).</li>
    <li><span class="badge bg-secondary">Optional</span> <strong>sa11y-custom-checks.js</strong> - Any custom checks creataed by you.</li>
    <li><strong>sa11y-english.js</strong> - All text strings and tooltip messages.</li>
    <li><strong>sa11y.js</strong> - Contains all logic.</li>
</ul>

<h2>Demo and local development</h2>
<p>As of <code>2.2.0</code>, the <code>/docs</code> folder within the main repo has been converted into a comprehensive demo site for development and testing. The project website has been moved to another repo.</p>
<ol>
    <li>Fork or download the <a href="https://github.com/ryersondmp/sa11y/releases">latest release</a> (less than 90KB)</li>
    <li>Navigate to <code>/docs/demo/sa11y-demo-cdn.js</code> and change <code>const production = true;</code> to <code>false</code> to develop locally.</li>
</ol>

<p><a href="https://ryersondmp.github.io/sa11y/demo/" class="btn btn-sa11y">View demo</a></p>

<h2>Example installation</h2>
<p>Fork or download the latest release from <a href="https://github.com/ryersondmp/sa11y">GitHub.</a></p>

<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;sa11y.css&#x22;/&#x3E;

&#x3C;!-- Tippy.js V6 CDN (tooltip library) --&#x3E;
&#x3C;script src=&#x22;https://unpkg.com/@popperjs/core@2&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;https://unpkg.com/tippy.js@6&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Sa11y (fork the latest code from GitHub) --&#x3E;
&#x3C;script src=&#x22;sa11y-custom-checks.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;sa11y-english.js&#x22;&#x3E;&#x3C;/script&#x3E;
&#x3C;script src=&#x22;sa11y.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Instantiate--&#x3E;
&#x3C;script&#x3E;
    const sa11y = new Sa11y();
&#x3C;/script&#x3E;</code></pre>

<h2>CDN via jsDelivr</h2>
<p>The CDN link below is the latest and greatest (stable) release of Sa11y. It combines both Tippy.js and Sa11y in a single, minified CDN link. Current version: <code>@{{site.sa11yBuild}}</code></p>

<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://cdn.jsdelivr.net/gh/ryersondmp/sa11y@{{site.sa11yBuild}}/src/sa11y.css&#x22;/&#x3E;

&#x3C;!-- Script --&#x3E;
&#x3C;script src=&#x22;https://cdn.jsdelivr.net/combine/npm/@popperjs/core@2/dist/umd/popper.min.js,npm/tippy.js@6/dist/tippy.umd.min.js,gh/ryersondmp/sa11y@{{site.sa11yBuild}}/src/sa11y-english.min.js,gh/ryersondmp/sa11y@{{site.sa11yBuild}}/src/sa11y.min.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Instantiate--&#x3E;
&#x3C;script&#x3E;
    const sa11y = new Sa11y();
&#x3C;/script&#x3E;</code></pre>

<h3>CDN with automatic updates</h3>
<p>The CDN link below automatically fetches the <code>@latest</code> stable release. This is essentially how the bookmarklet is served.</p>
<p class="alert alert-danger"><strong>Warning:</strong> This is not recommended for production... or you know, use at your own risk. 😬</p>

<pre><code class="language-html">&#x3C;!-- Stylesheet --&#x3E;
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://cdn.jsdelivr.net/gh/ryersondmp/sa11y@latest/src/sa11y.css&#x22;/&#x3E;

&#x3C;!-- Script --&#x3E;
&#x3C;script src=&#x22;https://cdn.jsdelivr.net/combine/npm/@popperjs/core@2/dist/umd/popper.min.js,npm/tippy.js@6/dist/tippy.umd.min.js,gh/ryersondmp/sa11y@latest/src/sa11y-english.min.js,gh/ryersondmp/sa11y@latest/src/sa11y.min.js&#x22;&#x3E;&#x3C;/script&#x3E;

&#x3C;!-- Instantiate--&#x3E;
&#x3C;script&#x3E;
    const sa11y = new Sa11y();
&#x3C;/script&#x3E;</code></pre>

<h2>Accessibility note about Tippy.js</h2>
<p>Sa11y appends tooltips to the end of the body by default to ensure tooltips do not get hidden by conflicting CSS styling. If you customize the tooltips to include interactive content, please read <a href="https://atomiks.github.io/tippyjs/v6/accessibility/#interactivity">Tippy.js documentation on creating accessible interactive tooltips for keyboard users.</a></p>

{% include "partials/pagination-developers.njk" %}
{% include "partials/prism.njk" %}