<footer class="bg-light text-center py-5">
  <p>&copy; 2020 - {% year %}
    Toronto Metropolitan University 🇨🇦<br><span class="small">(formerly
      <a href="https://www.torontomu.ca/next-chapter/">Ryerson University)</span>
    </a>
  </p>
  <img src="{{ '/images/logos/tmu.svg' | url }}" class="img-fluid pt-4" width="130px" alt="Toronto Metropolitan University logo.">
</footer>