<footer class="bg-ryerson text-white text-center py-5">
    <p>&copy; {{ site.copyright }} {{ site.university }}</p>
    <img src="{{ '/images/ryerson-white.png' | url }}" class="img-fluid" width="130px" alt="{{ site.university }} logo.">
</footer>