<footer class="bg-light text-center py-5">
    <p>&copy; {{ site.copyright }} {{ site.university }} <br><span class="small">(formerly <a href="https://www.ryerson.ca/next-chapter/">Ryerson University)</span></a></p>
    <img src="{{ '/images/logos/tmu.svg' | url }}" class="img-fluid" width="130px" alt="{{ site.university }} logo.">
</footer>