<header>
  <a class="skip" href="#content" accesskey="s">Skip to content</a>
  <div class="navbar navbar-light bg-light sticky-top flex-md-nowrap p-0 shadow d-md-none">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
