---
layout: base
title: Oops! This page isn't working.
permalink: '500.html'
---

<div class="row">
  <div class="col-lg-12 text-center">
    <h1 id="homepage-heading">
      <span class="sa11y sa11y-big">500</span>
      <span class="sa11y-tagline">This page isn't working.</span>
    </h1>
  </div>
</div>