---
layout: base
title: Acknowledgements
permalink: '/acknowledgements/'
---

<h1>{{ title }}</h1>
<div class="p-4 mb-4 bg-light rounded-3">
    <h2 class="h3">Adam Chaboryk</h2>
    <img src="/images/adam.webp" alt="Bearded, bald guy named Adam." class="img-fluid float-start p-3" width="200" style="border-radius:50%" />
    <p class="lead">Sa11y is led and maintained by Adam Chaboryk <abbr class="small" title="Certified Professional in Web Accessibility">CPWA</abbr>, IT Accessibility Specialist, Digital Media Projects, Computing and Communication Services (CCS) at {{site.university}} in Toronto, Canada. Adam enables the community with the resources and guidance to create a more inclusive digital environment for all learners, faculty, staff and the general public.</p>

    <ul class="list-unstyled social-list">
        <li><a href="https://chaboryk.xyz" class="btn btn-dark"><i class="bi bi-globe"></i><span class="sr-only">Adam's</span> Website</a>
        <li><a href="https://ca.linkedin.com/in/adamchaboryk" class="btn btn-dark"><i class="bi bi-linkedin"></i><span class="sr-only">Adam's</span> LinkedIn</a>
        <li><a href="https://github.com/adamchaboryk" class="btn btn-dark"><i class="bi bi-github"></i><span class="sr-only">Adam's</span> GitHub</a></li>
        <li><a class="btn btn-dark" href="mailto:adam.chaboryk@ryerson.ca"><i class="bi bi-mailbox"></i><span class="sr-only">Email</span> adam.chaboryk@ryerson.ca</a></li>
    </ul>
</div>


<h2>Previous student contributors</h2>
<p>Developed with the assistance of students from <a href="https://www.ryerson.ca/cs/">{{site.university}}'s Computer Science program.</a></p> 
<ul>
    <li>Dylan Le (2021)</li>
    <li>Janice Wong (2021)</li>
    <li>Farhan Mohammed (2020/2021)</li>
    <li>Kyle Padernilla (2019/2020)</li>
    <li>Arshad Mohammed (2018/2019)</li>
    <li>Benjamin Luong (2016/2017)</li>
</ul>

<h2>Other acknowledgements</h2>
<ul>
    <li>Brian Teeman, Benjamin Trenkle, and the Joomla team who assisted with the vanilla JavaScript port. Sa11y is included in <a href="https://www.joomla.org/announcements/release-news/5855-joomla-4-1-0-stable-new-standards-in-accessible-website-design.html">Joomla 4.1</a> and later - no installation necessary!</li>
    <li>John Jameson (Princeton University) maintains a fork of Sa11y called <a href="https://github.com/itmaybejj/editoria11y/">Editoria11y</a> which is available as a turnkey Drupal module. Sa11y and Editoria11y share a lot of code!</li>
</ul>

<h2>Libraries and hosting</h2>
<ul>
    <li>Sa11y is an adaptation of <a href="https://github.com/Khan/tota11y">Tota11y by Khan Academy.</a></li>
    <li>Tooltip library by <a href="https://github.com/atomiks/tippyjs">Tippy.js</a></li>
    <li><a href="https://github.com/jasonday/color-contrast">color-contrast</a> script was created by Jason Day.</li>
    <li>Readability feature is an adaptation of the <a href="https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/tools/readability-bookmarklet/">Readability Bookmarklet</a> created by Greg Kraus at North Carolina State University.</li>
    <li>The icons within Sa11y are created by <a href="https://github.com/FortAwesome/Font-Awesome">FontAwesome.</a></li>
    <li>This website was built with <a href="https://getbootstrap.com/">Bootstrap 5</a> and <a href="https://www.11ty.dev/">11ty.</a> Hosted on <a href="https://github.com/">GitHub</a> and <a href="https://www.netlify.com/">Netlify.</a></li>
    <li>Sa11y's bookmarklet is hosted on <a href="https://www.jsdelivr.com">jsDelivr</a> - an awesome free CDN for open source projects.</li>
</ul>
