---
layout: base
title: Home
permalink: '/'
---

<div class="row">
  <div class="col-lg-12 text-center">
    <h1 id="homepage-heading">
      <span class="sa11y sa11y-big">Sa11y</span>
      <span class="sa11y-tagline">the accessibility quality <br>assurance assistant</span>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 text-center mt-4" style="max-width:500px;margin:0 auto">
    <div class="alert alert-success">
      📣 <strong>January 2025:</strong> Check out <a href="https://github.com/ryersondmp/sa11y/releases/tag/4.0.0">what's new in version 4.0!</a>
    </div>
  </div>
</div>

<div class="homepage">
  <div class="row align-items-md-stretch mt-4">
    <div class="col-lg-6">
      <div class="h-100 p-5 bg-ryerson-accent rounded-3">
        <h2>Made for content<br> authors
          <i class="bi bi-people-fill"></i>
        </h2>
        <img
          src="/images/coder-vs-comms.svg"
          alt="Illustration of a gauge pointing to a content author instead of a web developer."
          class="img-fluid"
          width="450"/>
        <p class="lead">Sa11y visually highlights content issues at the source with a simple
          tooltip on how to fix them.</p>
        <p>
          Sa11y is
          <strong>not</strong>
          a comprehensive code analysis tool, nor is it a
          <a href="https://www.a11yproject.com/posts/should-i-use-an-accessibility-overlay/">web
            accessibility overlay.</a>
        </p>
        <p>
          <a href="{{ '/overview/' | url }}" class="btn btn-sa11y">Overview</a>
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>Developers and a11y experts
          <i class="bi bi-journal-code"></i>
        </h2>
        <p class="lead">Sa11y is a customizable, framework-agnostic JavaScript plugin.</p>
        <p>
          <a href="https://www.jsdelivr.com/package/gh/ryersondmp/sa11y"><img
              src="https://data.jsdelivr.com/v1/package/gh/ryersondmp/sa11y/badge?style=rounded"
              alt="Over six hundred thousand requests a month on jsDelivr."
              style="filter: hue-rotate(200deg) saturate(0.8);width: 180px;"/>
          </a>
        </p>
        <ul>
          <li>Over 80 checks that encourage quality accessibility.</li>
          <li>
            <strong>Automatic:</strong>
            checks content on page load.</li>
          <li>
            <strong>Customizable:</strong>
            Dozens of props to fine tune the experience for content authors.</li>
          <li>
            <strong>Focus on the issues:</strong>
            Turn off irrelevant checks and add exclusions.</li>
          <li>
            <strong>Scalable:</strong>
            Check <em>every</em>
            page for accessibility.</li>
          <li><strong>Shadow DOM support:</strong> Ability to check inside web components or elements with an open Shadow DOM.</li>
        </ul>
        <p>
          <a href="{{ '/developers/' | url }}" class="btn btn-sa11y">Developer docs</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-lg-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>Open source
          <i class="bi bi-balloon-heart"></i>
        </h2>
        <p class="lead">Sa11y is 100% free and open source. You can view the
          <a href="https://github.com/ryersondmp/sa11y">source code on GitHub.</a>
          Sa11y was made open source in 2020 to help content authors around the world create
          accessible content for people with disabilities.</p>
        <p>Sa11y was originally developed as a custom accessibility checker for {{ site.university}}
        's content management system and its several hundred content authors.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="h-100 p-5 bg-ryerson-accent rounded-3">
        <h2>Privacy
          <i class="bi bi-shield-lock"></i>
        </h2>
        <p class="lead">No personal data is ever collected when you use Sa11y. No tracking, no
          analytics, no third party content. Sa11y only uses your browser’s web storage to remember
          the state of optional rulesets and other features you enable.</p>
        <p>Only this website uses privacy-oriented analytics. The analytics do not track IP
          addresses, fingerprints or cookies.</p>
      </div>
    </div>
  </div>
  <h2 class="sa11y mt-5">Featured on</h2>
  <div class="row align-items-md-stretch">
    <div class="flex-container">
      <div class="flex-item">
        <a href="https://uit.stanford.edu/accessibility/testing/browser-plugins">
          <img src="{{ '/images/logos/stanford.svg' | url }}" class="img-fluid p-3" alt="Stanford University's Office of Digital Accessibility, Browser Plugins page." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://www.queensu.ca/webpublish/resources/accessibility#:~:text=Sa11y">
          <img src="{{ '/images/logos/queens.svg' | url }}" class="img-fluid p-3" alt="Queen's University: WebPublish Service and Support accessibility resources page." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://accessibility.princeton.edu/news/introducing-editoria11y#:~:text=Sa11y">
          <img src="{{ '/images/logos/princeton.svg' | url }}" class="img-fluid p-3" alt="Princeton University. Introducing Editoria11y: Accessibility Autocorrect page." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://people.utoronto.ca/news/bringing-awareness-to-accessibility/#:~:text=Sa11y">
          <img src="{{ '/images/logos/uoft.svg' | url }}" class="img-fluid p-3" alt="Featured on the University of Toronto's blog post: Bringing Awareness to Accessibility." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://www.facebook.com/36388408213/posts/today-is-global-accessibility-awareness-day-the-purpose-is-to-get-everyone-talki/10158603158943214/">
          <img src="{{ '/images/logos/viu.jpg' | url }}" class="img-fluid p-3" alt="Vancouver Island University's Facebook post mentioning Sa11y." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://laurentian.ca/web/accessibility#:~:text=Sa11y">
          <img src="{{ '/images/logos/laurentian.svg' | url }}" class="img-fluid p-3" alt="Laurentian University's web accessibility resources page." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://itaccessibility.arizona.edu/content/web-validation#:~:text=Sa11y">
          <img src="{{ '/images/logos/arizona.svg' | url }}" class="img-fluid p-3" alt="University of Arizona's browser plugins section." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://scuweb.zendesk.com/hc/en-us/articles/4412360550931-Using-the-Sa11y-Accessibility-Tool">
          <img src="{{ '/images/logos/santaclara.png' | url }}" class="img-fluid p-3" alt="Santa Clara University's support page on using Sa11y." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://mailchi.mp/ontario/aoda-toolbox-july-2023">
          <img src="{{ '/images/logos/ontariogov.webp' | url }}" class="img-fluid p-3" alt="Featured by the Government of Ontario's Ministry for Seniors and Accessibility." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://accessibility.civicactions.com/guide/tools#:~:text=Sa11y">
          <img src="{{ '/images/logos/civicactions.svg' | url }}" class="img-fluid p-3" alt="Civic Actions' Accessibility Playbook tools page." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://www.joomla.org/announcements/release-news/5855-joomla-4-1-0-stable-new-standards-in-accessible-website-design.html">
          <img src="{{ '/images/logos/joomla.png' | url }}" class="img-fluid p-3" alt="Joomla's 4.1 release note mentions accessibility checker powered by Sa11y." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://it.wisc.edu/learn/accessible-content-tech/how-to-follow-uw-madisons-new-digital-accessibility-policy/#:~:text=Sa11y">
          <img src="{{ '/images/logos/uwisconsinmadison.png' | url }}" class="img-fluid p-3" alt="University of Winsconsin-Madison's Digital Accessibility Policy page features Sa11y." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://www.a11yproject.com/resources/#:~:text=Sa11y">
          <img src="{{ '/images/logos/a11y-project.webp' | url }}" class="img-fluid p-3" alt="The A11y Project's resources page." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://www.merlot.org/merlot/viewMaterial.htm?id=773412275">
          <img src="{{ '/images/logos/merlot.png' | url }}" class="img-fluid p-3" alt="MERLOT: Multimedia Educational Resource for Learning and Online Teaching." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://omnicms.sdsu.edu/accessibility/sa11y">
          <img src="{{ '/images/logos/sdsu.jpg' | url }}" class="img-fluid p-3" alt="Implemented within San Diego State University's content management system." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://redaxo.org/download/addons/for_sa11y/">
          <img src="{{ '/images/logos/redaxo-logo.png' | url }}" class="img-fluid p-3" alt="Turnkey plugin available in REDAXO CMS." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://blog.hubspot.com/website/web-accessibility-resources#:~:text=Sa11y">
          <img src="{{ '/images/logos/hubspot.svg' | url }}" class="img-fluid p-3" alt="Featured on Hubspot Blog." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://help.libraries.coop/libpress/5-features/sa11y-accessibility-tool/">
          <img src="{{ '/images/logos/bc-libraries-coop.png' | url }}" class="img-fluid p-3" alt="Available to LibPress site managers within the BCLibraries Cooperative." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://kb.uconn.edu/space/IKB/26988478521/">
          <img src="{{ '/images/logos/uconn.svg' | url }}" class="img-fluid p-3" alt="Featured by the University of Connecticut." loading="lazy">
        </a>
      </div>
      <div class="flex-item">
        <a href="https://make.wordpress.org/accessibility/handbook/which-tools-can-i-use/other-plugins-to-improve-accessibility/">
          <img src="{{ '/images/logos/wordpress.png' | url }}" class="img-fluid p-3" alt="Featured in the WordPress Accessibility Handbook." loading="lazy">
        </a>
      </div>
    </div>
  </div>