@import "bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "./syntax.scss";

.badge {
  font-size: 0.9em;
}

:root {
  --TMUblue: #004C9B;
  --TMUdarkBlue: #002d72;
  --TMUaccent: #5bc2f4;
  --textDark: #000000;
}

@media (min-width: 1200px) {
  #content {
    max-width: 1100px;
    margin: 3rem auto;
  }
}

.col-lg-4,
.col-lg-6 {
  margin-top: 20px;
}

.bg-tmu-accent a:not(.btn) {
  color: #13376f;
}

a.overlay-link:hover .text,
a.overlay-link:focus .text {
  background-color: #002e5f;
}

.skip {
  position: absolute;
  top: -1000em;

  &:focus {
    background: white;
    border: 8px solid var(--TMUaccent);
    color: var(--text);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, sans-serif;
    font-size: 1.2rem;
    height: auto;
    left: 10px;
    line-height: normal;
    padding: 0.75rem 1rem;
    text-decoration: none;
    top: 12px;
    width: auto;
    z-index: 100000;
  }
}

.icon-large {
  font-size: 2rem;
}

.img-overlay {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s ease;

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      background: #004c9b;
      padding: 3px 8px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

.example {
  background: #fff1f1;
  border: 3px dashed #dcc9c9;
  border-radius: 0.3em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  margin: auto;
}

.flex-item img {
  width: 200px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .8;
}

@media (min-width: 768px) {
  .px-md-5 {
    padding-right: 4rem !important;
    padding-right: 4rem !important;
  }
}

.sa11y-heading-label {
  -webkit-text-fill-color: white;
}

a {
  color: #004c9b;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Bootstrap reset */

.nav-link,
.link-dark {
  color: #595959 !important;
}

/* Bootstrap reset */

#content {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

ul.social-list>li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 0.8rem;
}

h1:not(#homepage-heading),
h2,
h3,
h4,
h5,
h6 {
  font-family: "Polaris-Bold", sans-serif;
  color: #333333;
}

h1:not(#homepage-heading) {
  display: flex;
  gap: 0.5rem;
}

.homepage h2 {
  padding-top: 0rem;
}

h2:not(.accordion-header) {
  padding-top: 1.3rem;
}

h3:not(.accordion-header) {
  padding-top: 1rem;
}

h4:not(.accordion-header) {
  padding-top: 1rem;
}

button.accordion-button {
  font-size: 1.2rem;
}

h3:not(.accordion-header) {
  padding-top: 0.75rem;
}

main li {
  padding-bottom: 0.3rem;
}

.btn-lg {
  font-size: 1.25rem !important;
}

.bg-tmu {
  --bs-bg-opacity: 1;
  background-color: var(--TMUblue);
}

p {
  max-width: 80ch;
}

footer p {
  margin: 0 auto;
  padding-bottom: 0.3em;
}

.bg-tmu-accent {
  --bs-bg-opacity: 1;
  background-color: var(--TMUaccent);
}

.background-image {
  padding: 20px;
  background: #E040FB;
  background: -webkit-linear-gradient(to top right, #E040FB 0%, #00BCD4 100%);
  background: -moz-linear-gradient(to top right, #E040FB 0%, #00BCD4 100%);
  background: linear-gradient(to top right, #E040FB 0%, #00BCD4 100%);
}

.bg-light {
  background-color: #ebebeb !important;
}

.bg-light h2,
.bg-light h3,
.bg-tmu-accent h2,
.bg-tmu-accent h3 {
  padding-top: 0;
}

.accordion-button:not(.collapsed) {
  color: #8446c1;
  background-color: #f3e6ff;
}

.accordion-item {
  border: 2px solid #8446c1;
}

.accordion-button:hover,
.accordion-button:focus {
  background: #f3e6ff;
}

.ul-dual {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.sa11y-big {
  font-size: 8rem;
  margin-bottom: .5rem;
}

.sa11y-tagline {
  display: block;
  font-size: 2rem;
  line-height: 1.1;
  color: #8446c3;
  margin-left: 0.2rem;
  font-family: "Polaris-Bold", sans-serif;
}

#homepage-heading,
.sa11y-nav {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
}

.homepage-link:hover,
.homepage-link:focus,
h1,
.sa11y {
  background: #E040FB;
  background: -webkit-linear-gradient(to top right, #E040FB 0%, #00BCD4 100%);
  background: -moz-linear-gradient(to top right, #E040FB 0%, #00BCD4 100%);
  background: linear-gradient(to top right, #E040FB 0%, #00BCD4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
.h1 {
  font-size: clamp(2.8rem, 2vw, 4rem);
  padding-bottom: .4rem;
}

h2,
.h2 {
  font-size: clamp(2.4rem, 2vw, 3rem);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[aria-current="page"],
.active {
  font-weight: 600;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.navbar-logo {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 60px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

// Navbar
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: 1.25rem;
  right: 1.25rem;
  border: 3px solid #585c5e;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .3rem .5rem;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #a6daff;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a {
  width: 95%;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus,
.nav-link:not(.homepage-link):hover,
.nav-link:not(.homepage-link):focus {
  background-color: #a6daff;
}

@media (max-width: 480px) {
  header {
    min-height: 40px;
  }
}

// Misc
.btn-sa11y {
  color: #fff;
  background-color: #8446c2;
  border-color: #8446c2;
  font-size: 1.2rem;
}

.btn-sa11y:hover,
.btn-sa11y:focus {
  color: #fff;
  background-color: #632b9a;
  border-color: #632b9a;
}

.display-6 {
  font-size: 2rem;
}

table {
  line-height: inherit;
}

/* Code snippets */
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #ff83b0 !important;
}

tr>td:first-child {
  color: #d9006c;
  font-family: var(--bs-font-monospace);
  font-size: 90%;
}

tr>td:nth-child(2) {
  color: #162b6a;
  font-family: var(--bs-font-monospace);
  font-size: 90%;
}

tr>td:nth-child(2):before {
  content: ": ";
  opacity: 0.5;
}

tr>td:nth-child(2):after {
  content: ", ";
  opacity: 0.5;
}

// Accordions
details {
  padding: .6rem 1rem;
  background: white;
  border: 2px solid var(--TMUblue);
  border-radius: 4px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] {
  padding-bottom: .75rem;
}

details[open] summary {
  margin-bottom: 6px;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

// Anchor JS
@media (max-width: 480px) {
  a.anchorjs-link {
    display: none;
  }
}

a.anchorjs-link:hover,
a.anchorjs-link:focus {
  opacity: 1;
}

// Featured section logos
.flex-item {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (min-width: 768px) {
  .flex-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (min-width: 992px) {
  .flex-item {
    flex: 0 0 25%;
    max-width: 25%;
  }
}